.goods_bigPic{
    position: relative;
}
.goods_bigPic .goods_bigPic_oneDiv{
    position: absolute;
    left:0;top:0;
}
.goods_bigPic a{
    display: block;
    float:left;
    width: 187.5px;
    height: 180px;
}
.goods_banner{
    width: 750px;
}
.goods_qbdp{

}
.goods_qbdp p{
    font-size: 38px;
    font-weight: bold;
    text-indent: 32px;
    margin-top:40px;
    margin-bottom: 26px;
}
.goods_qbdp_select{
    height:630px;
}
.goods_qbdp_top{

}
.goods_qbdp_bottom{

}
.goods_qbdp_size{
    
}
