ul{
    list-style: none;
}
.IconWaterfull_div{
    height: auto;
    display: flex;
    justify-content: space-between;
    .IconWaterfull_ul{
        width: 100%;
        background-color: #f5f5f5;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .IconWaterfull_li{
            width: 50%;
            background-color: #fff;
            margin-bottom:20px;
            border: 10px solid #f5f5f5;
            box-sizing: border-box;
    
        }
        .IconWaterfull_tsli{
            width: 50%;
            background-color: #fff;
            margin-bottom:20px;
            border: 10px solid #f5f5f5;
            box-sizing: border-box;
        }
    }
    .IconWaterfull_img{
        width: 100%; 
        height: 658px;
    }
    .IconWaterfull_tsimg{
        width: 100%; 
        height: 658px;
    }
    .IconWaterfull_bottom{
        width: 100%;
        height: 150px;
        position: relative;
        .IconWaterfull_pu{
            color: #333;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 6px;
            margin-right: 20px;
            margin-top: 5px;
            position: absolute;
            left: 140px;
        }
        .IconWaterfull_pi{
            color: #999;
            font-size: 22px;
            font-weight: 400;
            line-height: 30px;
            margin-right: 20px;
            margin-top: 6px;
            position: absolute;
            left: 140px;
            top:50px;

        }
        .IconWaterfull_bottom_img{
            position: absolute;
            width: 94px;
            height: 94px;            
            border-radius: 50%;
            left: 10%;
            top: -20%;
        }
        .IconWaterfull_bottom_smallimg{
            // width: 24px;
            // height: 24px;            
            position: absolute;
            left:28%;
            top:35%;
        }
    }
}