*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.page-wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 750px;
}
.xppswiperfy-bullet-active{
  background: #ffaf90 !important;
}
.home-line{
  background: #f7f7f7;
  height: 20px;
  width: 100%;
}